<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="charset" content="utf8">
    <meta http-equiv="content-type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>With Drom</title>
  </head>

  <body>
    <div class="container mt-3">
      <div class="row">
        {% for car in cars %}
        <div class="col-4">
          <div class="card">
            <img src="{{ car.image }}" class="card-img-top" alt="изображение машины">
            <div class="card-body">
              <h5 class="card-title">{{ car.model }}</h5>
              <p class="card-text">{{ car.price }}</p>
              <p class="card-text">{{ car.year }}</p>
              <p class="card-text">{{ car.horsepower }}</p>
              <p class="card-text">{{ car.transmission }}</p>
              <p class="card-text">{{ car.gear }}</p>
              <p class="card-text">{{ car.engine }}</p>
              {% if car.mileage %}
                <p class="card-text">{{ car.mileage }}</p>
              {% else %}
                <p class="card-text">информация о пробеге не указана</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
