footer {
    margin-left: 15px;
}
.info_site{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.block_subscription{
    width: 50%;
}
.block_author-block{
    width: 50%;
}
.text_subscription{
    margin-left: 10px;
}
.ico_messenger{
    width: 100%;
    height: 25%;
    margin-left: 0;
    margin: 0;
    padding: 0;
    
}
.block_author{
    display: flex;
    justify-content: flex-start;
}
.ico_messenger{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.dop_info_site{
    margin: 20px 10px 20px 10px;
    font-weight: 400;
    font-size: 15px;
}
.block_author{
    display: flex;
    align-items: center;
}
.ico_scholl{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.block_author-block p {
    font-size: 17px;
}