<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="charset" content="utf8">
    <meta http-equiv="content-type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="static/css/header.css" rel="stylesheet" type="text/css" />
    <link href="static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="static/css/footer.css" rel="stylesheet" type="text/css" />

    <title>Drom</title>
  </head>

  <body>
    <header>
      <div class="head_site">
        <img class="head_img" src="static/img/modern_car.jpg" alt="машина">
        <a href="" class="a_name_site"><h2 class="name_site">ДРОМ</h2></a>
        <p class="dop_name_site">Продажа авто в России</p>
      </div>
    </header>
    <main>
      <h1 id="text_1">Объявления:</h1>
      <div class="cards_car">
        <!--Начало карточки машины -->
        {% for car in cars %}
            <div class="card_car">
              <div class="card_img-block">
                <a href><img class="card_img" src="{{car.image}}" alt="картинка машины"></a>
              </div>
              <div class="card_info">
                <div class="car_info_first">
                  <div class="car_name">{{car.model}}</div>
                  <div class="car_cost">{{car.price}}</div>
                </div>
                <div class="card_info_dop">
                  {% if car.mileage %}
                    <p class="text_info">{{car. horsepower}}, {{car.fuel_type}}, {{transmission}}, {{car.gear}}, {{car.mileage}} км<p>
                  {% else %}
                    <p class="text_info">{{car. horsepower}}, {{car.fuel_type}}, {{transmission}}, {{car.gear}}</p>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
          <!--Конец карточки машины -->
      </div>
      <button class="button" type="button">Показать больше</button>
    </main>
    <hr style="border: none; border-top: 3px solid #e2e0e0; width: 97%;">
    <footer>
      <div class="info_site">
        <div class="block_subscription">
          <h1 class="text_subscription">Подпишись на нас</h1>
          <div class="icos_messenger">
            <img class='ico_messenger' src="static/img/ico_vk.jpg" alt="иконка VK">
            <img class='ico_messenger' src="static/img/ico_inst.png" alt="иконка INST">
            <img class='ico_messenger' src="static/img/ico_wp.png" alt="иконка Whatchap">
            <img class='ico_messenger' src="static/img/ico_tg.png" alt="иконка TG">
          </div>
        </div>
        <div class="block_author-block">
          <div class="block_author">
            <img class='ico_scholl' src="static/img/ico_scholl.jpg" alt="иконка школы">
            <h1>Третье место</h1>
          </div>
          <p>Данный проект выполнен для школы "Третье место" в обучающих целях</p>
        </div>
      </div>
      <div class="dop_info_site">
        <p class="info_text">Данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.  Права на сайт принадлежат нам (ИНН 5047254063, ОГРН 1215000076279 от 21 октября 2024 года) тел. +7 (000) 00-00-00, адрес эл. почты reception@drom.ru</p>
      </div>
    </footer>
  </body>
</html>